*neptune
*__pycache__
*.h5
*.data
assets
tryto.py
*.sh
hyperparam.py
hyperparam2.py
backup.py
wandb
*.err
*.out
*.txt
tryto2.py
old_process
printout
run_test.py
test_models
test.py
tryto3.py
tryto4.py
printout03
printout04
printout05
printout
paper_result
mlmodelresult
catboost_info
check_data_num.py
check_data.py
check_memory.py
check_ml_data.py
check_neighbor.py
check_neighbor_total_eval.py
tryto5.py
printout06
shfile
